@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
* {
  box-sizing: border-box;
}

@keyframes move {
  0% { background-position: calc(-100vw - var(--halfSize)) var(--positionTop), center center; }
  100% { background-position: 0 var(--positionTop), center center; }
}
@keyframes move-object{
  0% { top: 2%; left:0%;}
  100% { top: 2%;left:100%;}
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

body {
  --background: black;
  --size: 8vmin;
  --halfSize: calc(var(--size) / 2);
  --negativesize: calc(var(--size) * -1);
  --positionTop: calc(5vh - var(--halfSize));
  --timing: 10s;
    background-color: var(--background);
    background-image:  linear-gradient( var(--background),  var(--background)), radial-gradient(white 10%, transparent 0);
    background-size: 100vw var(--size), var(--size) var(--size);
    background-repeat: no-repeat, repeat;
    background-position: calc(-100vw - var(--halfSize)) var(--positionTop), 0 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    animation: move var(--timing) linear infinite;
    animation-delay: 1.75s;
  
}
ol{
  list-style-type: none;
  padding-left: 0;
}
h2 {
  margin-top: 0;
  color: white;
  font: 1.2vw 'Press Start 2P',  cursive;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
h4{
  margin-top: 15px;
  color: white;
  font: 1.2vw 'Press Start 2P',  cursive;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

ul {
  padding-inline-start: 20px;
}
li{
  color:white;
  padding: 0.2vw;
  font: 1vw 'Press Start 2P';
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.square {
  background: black;
  background-image: none;
  border: 3px solid #2163de;
  float: left;
  position: relative;
  left: 12.5%;
  font-size: 1px;
  font-weight: bold;
  line-height: 34px;
  height: 9vw;
  margin: auto;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 9vw;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}
.square:hover {
    position: relative;
    z-index: 1;
    transform: scale(1.2);
    border: 3px solid orange;
    box-shadow: 0 5px 30px #f8e09c;
	}

.square-image {
    height: 75%;
    margin: auto;
    padding: 0;
    width: 75%;
}
.square-image:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.icon {
  height: 2.5vw;
  padding-top: 0.25vw;
  width: 2.5vw;
}
.icon:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.button-icon {
  height: 1.75vw;
  width: 1.75vw;
  margin-left: 10px;
  margin-right: 10px;
  float: center;
}
.button-icon:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.player-colour{
  display: inline-flex;
}
.board-container {
  position: fixed;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.title{
  margin: auto;
  height:3vw;
  background-color: black;
}
.title:hover{
  transform: scale(1.2);
  transition: all ease 300ms;
}
.section-title{
  border: 3px solid #2163de;
  background: black;
  margin: 0.5vw;
  padding: 0.3vw;
  width: 80%;
  text-align: center;
  margin: auto;
}
.select-move{
  border: 3px solid #2163de;
  background-color: black;
  color:white;
  width: 80%;
  font: 1.1vw 'Press Start 2P',  cursive;
  margin: 0.2vw;
  padding: 0.1vw;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.5em blue;
}
.select-colour{
  border: 3px solid #2163de;
  background-color: black;
  color:white;
  width: 80%;
  font: 1.2vw 'Press Start 2P',  cursive;
  padding: 0.1vw;
  margin: 0.2vw;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 1em blue;
}
.select-move:hover{
  background:#e8d04d;
  color:white;
  box-shadow: 0 5px 15px rgba(254, 255, 167, 0.4);
}
.game {
  display: flex;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}
.game-board {
  margin: auto;
  width: 40%;
  float:left;
}

.game-status{
  color: white;
  font-size:20px;
  display: inline-flex;
}

.game-info {
  margin-left: 20px;
  width: 30%;
  float:left;
}

.win{
  background-color:#00ff00;
  box-shadow: 0 5px 30px #bcf3bc;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-delay: 0.25s;
}
.red{
  background-color:#ff60606b;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0.25s;
}
.yellow{
  background-color:#fffd786b;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0.25s;
}
.pink{
  background-color:#fface17c;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0.25s;
}
.blue{
  background-color:#afe6ff7c;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0.25s;
}
.ghost-pink{
  position: absolute;
  animation-name: move-object;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ghost-blue{
  position: absolute;
  animation-name: move-object;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}
.pacman {
  animation-fill-mode: both;
  position: absolute;
  animation-name: move-object;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s
}